$primary-color: hsl(209, 86%, 6%);
$secondary-color: hsl(132, 58%, 54%);
$bg-light: hsl(0, 0%, 95%);
$hover-color: hsl(0, 0%, 100%);
$dark-bg-color: hsl(215, 21%, 11%);
$dark-boder-color: hsl(212, 12%, 21%);
$font-family-primary: 'Inter', sans-serif;