.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  .profile-image {
   
    width: 100%;
    max-width: 500px;
    margin: 0;
    .layout-image {
      display: block;
      width: 50%;
      height: auto;
    }
    figcaption {
      margin-top: 0.30rem;
      text-align: left;
      font-size: 0.7rem;
    }
  }
}

.about-me-img{
  width: 100%;
  border-radius: 15px;
}

.service-image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .service-layout-image {
    width: 350px;
  }
}
