@media (min-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .section-index-container,
  .about-me-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .about-me-text-container {
    width: 50%;
  }
  .image-section {
    width: 70%;
  }
}

@media (min-width: 820px) and (min-height: 1180px) {
  .grid-container {
    align-items: center;
    justify-content: center;
  }
  .section-index-container {
    margin: 200px auto;
  }
}

@media (min-width: 1024px) {
  .carousel {
    width: 700px;
    margin: 2rem auto;
  }

  .carousel-item {
    width: 700px;
  }

  .proyect-img {
    width: 100%;
    display: block;
  }
}
